<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li id="mGroup">
            <a href="@department.routes.GroupController.groupList()">Groups</a>
        </li>
        <li id="mTeacher">
            <a href="@department.routes.TeacherController.teacherList()">Teachers</a>
        </li>
        <li id="mPlans">
            <a href="@department.routes.StudyPlanController.planGroupList()">Study Plans</a>
        </li>
        <li id="mNews">
            <a href="@routes.FeedController.openFeed()">News</a>
        </li>
        <li id="mProfile">
            <a href="@department.routes.ProfileController.openLookAndFeel()">Profile</a>
        </li>
    </ul>
</div>

<script>
$(document).ready(function() {
    var pathname = window.location.pathname

    if(pathname.indexOf("group") >= 0){
        $("#mGroup").addClass("active");
    }
    if(pathname.indexOf("teacher") >= 0){
        $("#mTeacher").addClass("active");
    }
    if(pathname.indexOf("plan") >= 0){
        $("#mPlans").addClass("active");
    }
    if(pathname.indexOf("feed") >= 0){
        $("#mNews").addClass("active");
    }
    if(pathname.indexOf("lookAndFeel") >= 0){
        $("#mProfile").addClass("active");
    }
});
</script>
