@()(implicit session: play.api.mvc.Session, req: RequestHeader)
    @user= @{model.users.User.findByEmail(session.get("username").get).get.asInstanceOf[model.users.Teacher]}
<div class="row">
@helper.form(action = routes.TeacherController.updateProfile(), 'class -> "form-horizontal", 'enctype -> "multipart/form-data") {
    <div class="col-md-6">
        <div class="form-group">
            <label for="email" class="control-label col-md-2">Email</label>
            <div class="col-md-8">
                <input name="email" class="form-control" value="@user.email">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="control-label col-md-2">Password</label>
            <div class="col-md-8">
                <input type="password" name="password" class="form-control"
                value="@user.password">
            </div>
        </div>
        <div class="form-group">
            <label for="theme" class="control-label col-md-2">Theme</label>
            <div class="col-md-8">
                <select name="theme" class="form-control">
                    <option value="bootstrap.min.css" @if(user.theme == "bootstrap.min.css"){selected}>Default</option>
                    <option value="darkly.min.css" @if(user.theme == "darkly.min.css"){selected}>Darkly</option>
                    <option value="slate.min.css" @if(user.theme == "slate.min.css"){selected}>Slate</option>
                    <option value="sandstone.min.css" @if(user.theme == "sandstone.min.css"){selected}>Sandstone</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <img   id="uploadFile"
        @if(user.avatar != "@routes.Assets.at(\"images/anonymous.jpg\")"){
            src = "@routes.DeanController.picture(user.avatar)"}else{src = "@routes.Assets.at("images/anonymous.jpg")"}
            style="width : 120px; height: 120px" class="img-circle"> <br/>
        <div class="fileUpload btn btn-primary">
            <span>Upload</span>
            <input  class="upload" onchange="showMyImage(this)" type="file" id="uploadBtn"  name="avatar"
            value="@routes.DeanController.picture(user.avatar)">
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-offset-1">
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </div>
</div>
}
<script type="text/javascript">

function showMyImage(fileInput) {
var files = fileInput.files;

var url = fileInput.value;
var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();

if ((ext != "jpg")) {fileInput.empty; return;}

for (var i = 0; i < files.length; i++) {
var file = files[i];
var imageType = /image.*/;
if (!file.type.match(imageType)) {
continue;
}
var img=document.getElementById("uploadFile");
img.file = file;
var reader = new FileReader();
reader.onload = (function(aImg) {
return function(e) {
aImg.src = e.target.result;
};
})(img);
reader.readAsDataURL(file);
}
}
</script>


