<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li id="mSchedule">
            <a href="@controllers.teacher.routes.ScheduleController.viewSchedule()">Schedule</a>
        </li>
        <li id="mNews">
            <a href="@routes.FeedController.openFeed()">News</a>
        </li>
        <li id="mProfile">
            <a href="@controllers.teacher.routes.ProfileController.openLookAndFeel()">Profile</a>
        </li>
    </ul>
</div>

<script>
$(document).ready(function() {
    var pathname = window.location.pathname

    if(pathname.indexOf("shedule") >= 0){
    $("#mSchedule").addClass("active");
    }
    if(pathname.indexOf("feed") >= 0){
    $("#mNews").addClass("active");
    }
    if(pathname.indexOf("lookAndFeel") >= 0){
    $("#mProfile").addClass("active");
    }
});
</script>
