@()(implicit session: play.api.mvc.Session)
<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="@routes.Assets.at("images/anonymous.jpg")" style="height : 180 px ; width : 100 % ; display : block ;" alt="100%x180">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <p>Email:&nbsp;@session.get("username")</p>
        <p><a class="btn btn-primary" data-toggle="modal" data-target="#facultyForm">Edit</a></p>
    </div>
</div>
<hr/>
