<div class="intro-body">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary panel-transparent">
                    <div class="panel-body">
                        <h4>News:</h4>
                        <div>
                                TextTextTextTextTextTextTextTextTextTextText
                            TextTextTextTextTextTextTextTextTextTextText
                            TextTextTextTextTextTextTextTextTextTextText
                            TextTextTextTextTextTextTextTextTextTextText
                            TextTextTextTextTextTextTextTextTextTextText
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
