@(user: model.users.User)
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="@routes.Assets.at("images/dnu.png")" style="height : 70px ; width : 100 % ; display : block ;"
            alt="100%x30">
        </div>
        <div class="navbar-collapse collapse" style="margin-right : 5 %">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#help" id="help">
                    <img src = "@routes.Assets.at("images/help.png")"  style="width : 32px; height:32px"/></a>
                </li>
                <li><a href="#menu-toggle" id="menu-toggle">
                    <img src = "@routes.Assets.at("images/menu.png")"  style="width : 32px; height:32px"/></a>
                </li>
                <li><a>
                    <img  @if(user.avatar != "@routes.Assets.at(\"images/anonymous.jpg\")"){
                    src = "@routes.Application.picture(user.avatar)"}else{src = "@routes.Assets.at("images/anonymous.jpg")"}
                    style="width : 32px; height:32px" class="img-circle"></a>
                </li>
                <li><a href="/logout">log out</a></li>
            </ul>
        </div>
    </div>
</div>


<script>
    var help  =  "DpEDU.html"
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    $("#help").click(function(e) {
        e.preventDefault();
        openHelp();
    });

     function openHelp(){
         if($('#helpName').length){
            help = $('#helpName').val()
         }
         var h = 400;
         var w = 1000;
         var title = 'help'

         var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : screen.left;
         var dualScreenTop = window.screenTop != undefined ? window.screenTop : screen.top;

         width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
         height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

         var left = ((width / 2) - (w / 2)) + dualScreenLeft;
         var top = ((height / 2) - (h / 2)) + dualScreenTop;

         var url =  '@routes.Assets.at("help/")'+help;
        var newWindow = window.open(url, title, 'scrollbars=yes, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);

        if (window.focus) {
            newWindow.focus();
        }

        return false;
     }
</script>
