<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li>
            <a href="@routes.DeanController.departmentList()">Departments</a>
        </li>
        <li>
            <a href="#">Students</a>
        </li>
        <li>
            <a href="@routes.DeanController.roomsList()">Rooms</a>
        </li>
        <li>
            <a href="#">Schedule</a>
        </li>
        <li>
            <a href="@routes.DeanController.openLookAndFeel()">Profile</a>
        </li>
    </ul>
</div>
