@import controllers.dean

<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li id="mDepartment">
            <a href="@controllers.dean.routes.DepartmentController.departmentList()">Departments</a>
        </li>
        <li id="mStudents">
            <a href="@controllers.dean.routes.StudentSearchController.searchStudent()">Students</a>
        </li>
        <li id="mRooms">
            <a href="@controllers.dean.routes.RoomsController.roomsList()">Rooms</a>
        </li>
        <li id="mSchedule">
            <a href="@controllers.dean.routes.ScheduleController.openSchedule()">Schedule</a>
        </li>
        <li id="mNews">
            <a href="@routes.FeedController.openFeed()">News</a>
        </li>
        <li id="mProfile">
            <a href="@controllers.dean.routes.ProfileController.openLookAndFeel()">Profile</a>
        </li>
    </ul>
</div>

<script>
    $(document).ready(function() {
        var pathname = window.location.pathname

        if(pathname.indexOf("departments") >= 0){
            $("#mDepartment").addClass("active");
        }
        if(pathname.indexOf("student") >= 0 && pathname.indexOf("schedule") < 0){
            $("#mStudents").addClass("active");
        }
        if(pathname.indexOf("rooms") >= 0){
            $("#mRooms").addClass("active");
        }
        if(pathname.indexOf("schedule") >= 0){
            $("#mSchedule").addClass("active");
        }
        if(pathname.indexOf("feed") >= 0){
            $("#mNews").addClass("active");
        }
        if(pathname.indexOf("lookAndFeel") >= 0){
            $("#mProfile").addClass("active");
        }
    });
</script>
